@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
     background-image: url(./images/desktop/w051.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}

@media (max-width: 576px) {
     #hero {
          background-image: url(./images/mobile/034.jpg);
          background-position: center;
     }

@layer base {
     h3 {
          @apply text-slate-600
     }

     h5 {
          @apply  text-slate-600
     }
}



}





